<ul>
<li {{ action "logout"}}>log out </li>

</ul>
<div class="container">
<br>
<h3 style="font-family:fantasy;text-align:center;margin-left:12px">Cities to visit</h3><br>
</div>
<div class="container">
  <div class="container-fluid">
          <div class="row">
        {{#each model as |location|}}
            <div class="col-lg-3">
            <center class="cen">
              <div class="thumbnail" {{ action "locationAction" location}}>
                 <img id="myBtn" src="{{location.image_src}}" />
                  
               <div class="caption">
              <b style="font-family:fantasy"><i>{{location.city}}</i></b>
              </div>
              </div>
             </center> 
            </div>
           {{/each}}
           
     </div>
   </div>
</div>