<nav class="navbar navbar-expand-sm bg-dark navbar-dark nav justify-content-end" >
  <ul class="navbar-nav">
    <li class="nav-item active">
           <button {{action "logout"}} class="btn btn-default pull-right">Log out</button>
    </li>
  </ul>
</nav>
<h1>Spots</h1>
<table class="table">
<tr>
 <th>Spot</th>
 <th>Location</th>
</tr>
{{#each model as |location|}}
<tr {{ action "locationAction" location}}>
  <td>{{location.spot}}</td>
  <td>{{location.city}}</td>
  </tr>
{{/each}}
 </table>
