<ul>
<li {{ action "logout"}}>log out </li>

</ul>
<div class="container">
<h1>Spots</h1>
</div>
<div class="container">
  <div class="container-fluid">
          <div class="row">
        {{#each model as |location|}}
            <div class="col-lg-3">
            <center class="cen">
              <div class="thumbnail" {{ action "locationAction" location}}>
                 <img id="myBtn" src="{{location.image_src}}" />
                  
               <div class="caption">
              {{location.city}}
              </div>
              </div>
             </center> 
            </div>
           {{/each}}
           
     </div>
   </div>
</div>